@page "/formulario"

@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject UserService service
@inject NavigationManager nav
@inject ProtectedSessionStorage storage

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>Checkout example · Bootstrap v5.2</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/checkout/">
       

    <link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">

'       
    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    
<div class="container">

    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="img/curitibandoLogoPreto.png" alt="" width="282" height="200">
        <h2>Registre sua viagem</h2>
        <p class="lead">Preencha o formulário e enriqueça esse site para que os próximos visitantes possam aproveitar suas dicas e recomendações.</p>
    </div> 

        <div class="col-sm-6">
            <label for="dataChegada">Data de chegada:</label>        
            <input type="date" @bind-value="@ArrivalDate" class="form-control" min="1990-01-01" placeholder="00/00/0000">
        </div>

        <div class="col-sm-6">
            <label for="dataRetorno">Data de retorno:</label>        
            <input type="date" @bind-value="@DepartureDate" class="form-control" min="1990-01-01" placeholder="00/00/0000">
            
        </div>

        <div> 
            <h4 class="mb-3">Hospedagem</h4>
            <div class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="tipoHospedagem" class="form-label">Tipo de hospedagem:</label>
                        <select class="form-select" @onchange="@OnSelect" value="@TypeHosting">
                            <option value="">Selecione...</option>                            
                            <option value="AirBnb">AirBnb</option>
                            <option value="Albergue">Albergue</option>
                            <option value="Casa de amigos/parentes">Casa de amigos/parentes</option>
                            <option value="Hotel">Hotel</option>
                            <option value="Pousada">Pousada</option>                            
                            <option value="Resort">Resort</option>
                            <option value="Outro">Outro</option>
                        </select>
                        
                    </div>
                    <div class="col-sm-6">
                        <label for="valorGasto" class="form-label">Valor gasto:</label>
                        <input type="text" @bind-value="@HostingAmount" class="form-control" id="valorGasto" placeholder="">
                        <div class="invalid-feedback">
                            Digite o valor gasto em sua estadia.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="nomeLocal" class="form-label">Nome do estabelecimento:</label>
                        <input type="text" @bind-value="@Accommodation" class="form-control" id="nomeLocal" placeholder="">
                        <div class="invalid-feedback">
                            Digite o nome do local de hospedagem.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="linkContato" class="form-label">Link para contato:</label>
                        <input type="text" @bind-value="@Link" class="form-control" id="linkContato" placeholder="">
                        <div class="invalid-feedback">
                            Adicione o link para contato com o local de hospedagem.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="relatoHosp" class="form-label">Conte-nos sua experiência/curiosidades/dicas:</label>
                            <label for="exampleFormControlTextarea1" class="form-label"></label>
                            <textarea class="form-control" id="relatoHosp" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="container">
    
      
        <div>
          <h4 class="mt-3 mb-3">Alimentação</h4>
          <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="tipoEstabelecimento" class="form-label">Tipo de estabelecimento:</label>
                <select class="form-select" @onchange="@OnSelect2" value="@Food">
                  <option value="">Selecione...</option>
                  <option value="Bar">Bar</option>
                  <option value="Comida de rua">Comida de rua</option>
                  <option value="Feira">Feira</option>                  
                  <option value="Lanchonete">Lanchonete</option>
                  <option value="Panificadora/Padaria">Panificadora/Padaria</option>
                  <option value="Restaurante">Restaurante</option>
                  <option value="Outro">Outro</option>
                </select>
                 
              </div>
              <div class="col-sm-6">
                <label for="valorGastoAlim" class="form-label">Valor gasto:</label>
                <input type="text" @bind-value="@FoodAmount" class="form-control" id="valorGastoAlim" placeholder="">
                <div class="invalid-feedback">
                  Digite o valor gasto no estabelecimento.
                </div>
              </div>

              <div class="col-sm-6">
                <label for="nomeEstabelecimento" class="form-label">Nome do estabelecimento:</label>
                <input type="text" @bind-value="@FoodPlaceName" class="form-control" id="nomeEstabelecimento" placeholder="">
                <div class="invalid-feedback">
                  Digite o nome do estabelecimento.
                </div>
              </div>

              <div class="col-sm-6">
                <label for="tipoAlim" class="form-label">Tipo de comida consumida:</label>
                <input type="text" @bind-value="@TypeFood" class="form-control" id="tipoAlim" placeholder="">
                <div class="invalid-feedback">
                  Adicione o tipo de comida consumida no estabelecimento.
                </div>
              </div>
  
              <div class="col-sm-6">
                <label for="linkContatoAlim" class="form-label">Link para contato:</label>
                <input type="text" @bind-value="@LinkFood" class="form-control" id="linkContatoAlim" placeholder="">
                <div class="invalid-feedback">
                  Adicione o link para contato com o estabelecimento.
                </div>
              </div>

              <div class="col-12">
                <label for="relatoAlim" class="form-label">Conte-nos sua experiência/curiosidades/dicas:</label>
                  <label for="exampleFormControlTextarea1" class="form-label"></label>
                  <textarea class="form-control" id="relatoAlim" rows="5"></textarea>                
                </div>
              </div>

          </form>
        </div>
      </div>
    
    <div class="container">
            
        <div>
          <h4 class="mt-3 mb-3">Ponto Turístico Favorito</h4>
          <form class="needs-validation" novalidate>
            <div class="row g-3">
                <div class="col-sm-6">
                  <label for="tipoAtracao" class="form-label">Tipo de atração:</label>
                  <select class="form-select" @onchange="@OnSelect3" value="@TypeAttraction">
                    <option value="">Escolha...</option>
                    <option value="Atracoes naturais">Atrações naturais</option>
                    <option value="Atracoes religiosas">Atrações religiosas</option>
                    <option value="Centro historico">Centro histórico</option>
                    <option value="Museu">Museu</option>
                    <option value="Parque">Parque</option>
                    <option value="Praca">Praça</option>                    
                    <option value="Teatro">Teatro</option>
                    <option value="Turismo rural">Turismo rural</option>                    
                    <option value="Outro">Outro</option>
                  </select>
                </div>

                <div class="col-sm-6">
                  <label for="valorGastoAlim" class="form-label">Valor gasto:</label>
                  <input type="text" @bind-value="@AttractionAmount" class="form-control" id="valorGastoAlim" placeholder="">
                  <div class="invalid-feedback">
                    Digite o valor gasto no estabelecimento.
                  </div>
                </div>
  
                <div class="col-sm-6">
                  <label for="tipoTranporte" class="form-label">Tipo de transporte:</label>
                  <select class="form-select" @onchange="@OnSelect4" value="@TypeTransport">
                    <option value="">Escolha...</option>                    
                    <option value="Bicicleta">Bicicleta</option>
                    <option value="Caminhando">Caminhando</option>
                    <option value="Carro alugado">Carro alugado</option>
                    <option value="Carro proprio">Carro próprio</option>
                    <option value="Metro">Metrô</option>                    
                    <option value="Onibus">Ônibus</option>                    
                    <option value="Taxi">Taxi</option>                   
                    <option value="Uber">Uber</option>
                    <option value="Outro">Outro</option>
                  </select>
                </div>
  
                <div class="col-12">
                  <label for="relatoTur" class="form-label">Conte-nos sua experiência/curiosidades/dicas:</label>
                    <label for="exampleFormControlTextarea1" class="form-label"></label>
                    <textarea class="form-control" id="relatoTur" rows="5"></textarea>
                  </div>
                </div>
                
    
              <hr class="my-4">
    
              <button class="w-100 btn btn-primary btn-lg" @onclick="createFormulario" type="submit">Salvar</button>
               </form>
          </div>
        </div>
  </body>
</html>


@code
{
    private DateTime ArrivalDate;
    private DateTime DepartureDate;
    private string TypeHosting = "";
    private string HostingAmount = "";
    private string Accommodation = "";
    private string Link = "";
    private string HostingComments = "";
    private string Food = "";
    private string FoodAmount = "";
    private string TypeFood = "";
    private string FoodPlaceName = "";
    private string LinkFood = "";
    private string FoodComments = "";
    private string TypeAttraction = "";
    private string AttractionAmount = "";
    private string TypeTransport = "";
    private string AttractionComments = "";
    
    public async void createFormulario()
    {    
        await service.Formulario(            
            this.ArrivalDate,
            this.DepartureDate,            
            this.TypeHosting,
            this.HostingAmount,
            this.Accommodation,
            this.Link,
            this.HostingComments,
            this.Food,
            this.FoodAmount,
            this.TypeFood,
            this.FoodPlaceName,
            this.LinkFood,
            this.FoodComments,
            this.TypeAttraction,
            this.AttractionAmount,
            this.TypeTransport,
            this.AttractionComments);

        this.ArrivalDate= DateTime.Now;
        this.DepartureDate= DateTime.Now;
        this.TypeHosting = "";
        this.HostingAmount = "";
        this.Accommodation = "";
        this.Link = "";
        this.HostingComments = "";
        this.Food = "";
        this.FoodAmount = "";
        this.TypeFood = "";
        this.FoodPlaceName = "";
        this.LinkFood = "";
        this.FoodComments ="";
        this.TypeAttraction = "";
        this.AttractionAmount = "";
        this.TypeTransport = "";
        this.AttractionComments= "";
               
        this.StateHasChanged();

        nav.NavigateTo("/");
    }
  
  void OnSelect (ChangeEventArgs e) 
  { 
      TypeHosting = e.Value.ToString();               
  }
  void OnSelect2 (ChangeEventArgs e) 
  { 
      Food = e.Value.ToString();               
  }
  void OnSelect3 (ChangeEventArgs e) 
  { 
      TypeAttraction= e.Value.ToString();               
  }
  void OnSelect4 (ChangeEventArgs e) 
  { 
      TypeTransport= e.Value.ToString();               
  }

}