@page "/register"

@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject UserService service
@inject NavigationManager nav
@inject ProtectedSessionStorage storage

<div class="regcontainer">
    <div class="registercontainer">
        <p>
            <label>Nome Completo</label>
            <input type="text" @bind-value="@name"/>
        </p>

        <p>
            <label>Senha</label>
            <input type="password" @bind-value="@password"/>
        </p>

        <p>
            <label>Repetir Senha</label>
            <input type="password" @bind-value="@repeatpassword"/>
        </p>

        <p>
            <label>Email</label>
            <input type="text" @bind-value="@email"/>
        </p>

        <p>
            <label>Nome de Usuario</label>
            <input type="text" @bind-value="@userId"/>
        </p>

        <button onclick="@CreateAccount">
            Cadastrar
        </button>
    </div>
   
</div>


@code 
{
    private string name;
    private string password;
    private string repeatpassword;
    private string email;    
    private string userId;
    private string loginError;

    public async void CreateAccount()
    {
        await service.Register(
            this.name, 
            this.userId,
            this.email,            
            this.password);

        this.name = ""; 
        this.userId = "";
        this.email = "";        
        this.password = "";

        this.StateHasChanged();

        nav.NavigateTo("/");

    }

}    